@import '/src/comman/styles/sass/variables';

.header {
    height: 80px;
    background-color: $bgSecondColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 50;
}