@import '/src/comman/styles/sass/variables';
@import '/src/comman/styles/sass/mixins';

.distantWorkBlock {
    background-color:$bgSecondColor;
    .container {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        .btn {
            @include text($textFontFamily, 14px, 1.2, 400);
            background-color: rgba(238,198,7,0.89);
        }
    }
}



