.skillsBlock {
    min-height: 100vh;
    background-color: rgba(169, 238, 90, 0.89);
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgray;
}

.skills {
    border: solid 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

