@import '/src/comman/styles/sass/variables';

.mainBlock {
    min-height: 100vh;
    background-color: $bgColor;
    color: $textColor;
    .mainContainer {
        display: flex;
        @media screen and (max-width: 775px) {
            justify-content: center;
        }
        .text {
            font-family: 'Mulish', sans-serif;
            width: 310px;
            background-color: $bgSecondColor;

        }
        .photo {
            width: 310px;
            height: 400px;
            background-color: darkgray;
        }
    }

}





