.mainBlock {
    height: 100vh;
    background-color: rgba(238,180,226,0.89);
}

.container {
  /*  border: 1px solid;*/
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center ;
    justify-content: space-between;

}

.text {
    width: 310px;
    background-color: darkgray;
}

.photo {
    width: 310px;
    height: 400px;
    background-color: darkgray;
}