.mainBlock {
    min-height: 100vh;
    background-color: rgba(238,180,226,0.89);
}



.text {
    width: 310px;
    background-color: darkgray;
}

.photo {
    width: 310px;
    height: 400px;
    background-color: darkgray;
}