@import '/src/comman/styles/sass/variables';

.project {
    background-color: $bgSecondColor;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .imgContainer {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .btn {
            background-color: $bgSecondColor;
            color: $textColor;
            font-family: 'Mulish', sans-serif;
            padding: 10px 20px;
            z-index: 1;
        }
    }
    .info {
        padding: 25px 20px;
        .projectTitle {
            line-height: 1.4;
            font-family: 'Poppins', sans-serif;
            color: $textColor;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 10px;
        }
        .description {
            font-family: 'Mulish', sans-serif;
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 0.2px;
            word-wrap: break-word;
            font-weight: 400;
            color: $secondTextColor;
        }

    }
}













