.project {
    background-color: darkgray;
    width: 400px;
    display: flex;
    flex-direction: column;

}

.imgContainer {
    width: 100%;
    height: 200px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: darkgray;
}

.name {
    background-color: lightpink;
}

.description {
    background-color: rgba(124,100,238,0.89);
}


