.contactsBlock {
    background-color: lightpink;
    height: 300px;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: darkgray;
}

.inputs {
    width: 280px;
    border: 1px solid;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
textarea {
   height: 70px;
}