@import '/src/comman/styles/sass/variables';

.contactsBlock {
    background-color: $bgColor;
    .contactsContainer {
        flex-direction: column;
        justify-content: space-between;
        .inputs {
            width: 50%;
            border: 1px solid;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 450px) {
                width: 90%;
            }
            textarea {
                height: 70px;
            }
        }
    }
}









