@import '/src/comman/styles/sass/variables';

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    a {
        color: $textColor;
        text-decoration: none;
        font-family: 'Mulish', sans-serif;
    }
}