@import '/src/comman/styles/sass/variables';

.footerBlock {
    background-color:$bgSecondColor;
    padding: 50px 0;
    .footerContainer {
        flex-direction: column;
        .body {
            height: 40px;
            width: 280px;
            display: flex;
            justify-content: space-between;
            .el {
                background-color: $bgColor;
                width: 40px;
            }
        }
        .description {
            color: $secondTextColor;
        }
    }
}







